{{#if model.shoppingList}}
  <h1>{{model.shoppingList.name}}</h1>
  <h4>Welcome to your shopping list</h4>
  {{input type="text"  class='form-control'  value=newItemName placeholder="Add a new item here"}}
  <button class='btn btn-default'{{action 'addNewItems' newItemName}}>
    {{fa-icon 'user-plus'}} Add
  </button>

  <div>
    <ul>
      {{#each model.shoppingListItems as |shoppingItem|}}
        <li>{{shoppingItem.name}}</li>
      {{/each}}
    </ul>

  </div>

{{else}}
  <h4>You don't currently have a shopping list. Let's get one created for you. Enter it's name below.</h4>
  {{input type="text"  class='form-control'  value=pantryName placeholder="Enter the pantry name here"}}
  <button class='btn btn-default'{{action 'createShoppingList' pantryName}}>
    {{fa-icon 'user-plus'}} Create
  </button>
{{/if}}




