{{#paper-card as |card|}}
	{{#paper-toolbar class = "toolbar"}}
		{{#paper-toolbar-tools}}
			<h2>{{fa-icon 'plus'}}&nbsp;Add a new item</h2>
			<span class="flex"></span>
			<button class="collapse-button" data-toggle="collapse" data-target="#addItemCardContent" {{action 'collapseButton'}}>{{paper-icon currentIcon}}</button>
		{{/paper-toolbar-tools}}
	{{/paper-toolbar}}

	<div id="addItemCardContent" class="collapse in">
		{{#card.content}}
			{{#if requestingItemName}}
				{{shopping-list/add-item/get-item-name getItemName="getItemName"}}
			{{else if requestingItemQty}}
				{{shopping-list/add-item/get-item-qty getItemQty="getItemQty"}}
			{{else}}

			{{/if}}
		{{/card.content}}
	</div>
{{/paper-card}}
