{{#paper-checkbox name="itemCheckbox" class = "shopping-list-checkbox" value=isCheckedComputed
                  onChange=(action (mut isChecked))}}

  <div class="shopping-list-information">
    <strong>
      {{shoppingItem.quantity}}
    </strong>
    {{shoppingItem.name}}
    <p class="shopping-item-subtext">
      <strong>
        Added On:
      </strong>
      {{shoppingItem.formattedDate}}
      <strong>
        Added By:
      </strong>
      {{shoppingItem.shoppingList.user.firstName}}
    </p>
  </div>

{{/paper-checkbox}}


{{#paper-button class = "pull-right"}}
  <span class="remove-item-button">{{fa-icon 'trash-o'}} Remove</span>
{{/paper-button}}

{{#paper-button class = "pull-right"}}
  <span class="remove-item-button">{{fa-icon 'plus'}} Buy</span>
{{/paper-button}}

{{paper-divider}}