{{#paper-card as |card|}}
	{{#paper-toolbar class="alt-toolbar-head"}}
		{{#paper-toolbar-tools}}
			<h2>
				{{fa-icon 'users'}} {{chartHead}}
			</h2>
			<span class="flex"></span>

			{{#paper-button onClick = (action "showOptions") iconButton=true}}
				{{paper-icon "settings"}}
			{{/paper-button}}

		{{/paper-toolbar-tools}}
	{{/paper-toolbar}}

  {{#card.content}}
    {{resolveChartData}}
    {{#if chartData}}
      <div class = "chartDiv">
        {{ember-chart type='pie' data=graphOptions width=200 height=300}}
      </div>
    {{else}}
      Data Loading...
    {{/if}}

  {{/card.content}}
{{/paper-card}}

{{graphs/graph-options-modal
		showDialog = showDialog
		graphName = chartHead
		updateGraphTimeOptions = "updateGraphTimeOptions"

}}
