{{#each limitedSortedItems as |item|}}
	{{#if checkAll}}
		{{purchased-list-item purchasedItem = item itemChecked = "itemChecked"
		                      deleteItem = "deleteItem" purchaseItem = "purchaseItem" checkAll = true}}
	{{else}}
		{{#if deleteButton}}
			{{purchased-list-item purchasedItem = item itemChecked = "itemChecked"
			                      deleteItem = "deleteItem" purchaseItem = "purchaseItem" checkAll = false}}
		{{else}}
			{{dashboard-pantry-list-item purchasedItem = item}}
		{{/if}}

	{{/if}}
{{else}}
	<h5>You don't have any items in your purchased list</h5>
	<small> Once someone buys something it will show up here.</small>
{{/each}}