



<!--Model = user-->
<div class="container">
  <div class='page-header'>
    <h1>Your Expenses</h1>
  </div>


  <div class="row layout-row layout-xs-column layout-align-start-center">
    <div class="flex-gt-sm-50 flex-70">
      {{group-spending-by-user user = model.user purchasedList = model.purchasedList}}
    </div>
  </div>


  <h2>You are: {{model.user.email}} </h2>
  <h2>Items you've bought</h2>
  <ul>
    {{#each model.user.purchasedList.purchasedListItems as |item|}}
      <li>{{item.name}} : {{item.price}}</li>
    {{/each}}
  </ul>




  <div class="row">
    {{#each model.users as |user|}}
      <div class="col-md-4">
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}} {{user.firstName}} {{/text.headline}}
              {{#text.subhead}} {{user.email}} {{/text.subhead}}
            {{/title.text}}
            {{#title.media size="sm"}}
              <div class="card-media">Test</div>
            {{/title.media}}
          {{/card.title}}
          <h2>Items they've bought</h2>
          <ul>
            {{#each user.purchasedList.purchasedListItems as |item|}}
              <li>{{item.name}} : {{item.price}}</li>
            {{/each}}
          </ul>
          {{#card.actions}}
            {{#paper-button action="testAction"}}Action 1{{/paper-button}}
            {{#paper-button}}Action 2{{/paper-button}}
          {{/card.actions}}
        {{/paper-card}}
      </div>
    {{/each}}

  </div>

</div>