{{#if ivalidItemName}}
  <div class="alert alert-danger" role="alert">
    A shopping list item must be at least 3 characters long.
  </div>
{{/if}}





<form {{action 'addNewItems' itemQty itemName on="submit"}}>
  <div class="form-group">
    <div class="col-xs-1">
      {{input type="number" class='form-control' id = "new-shopping-list-item-qty" value=itemQty placeholder = 0 }}
    </div>
    <div class="col-xs-3">
      {{input type="text" class='form-control' id = "new-shopping-list-item" value=itemName placeholder="Item Name"}}
    </div>
    <div class="col-xs-4">
      <button {{action 'addNewItems' itemQty itemName}} type="button" class="btn-default btn"> {{fa-icon 'plus'}} Add to cart</button>
    </div>
  </div>
</form>
