<div id="check-all-content" class="collapse">

	{{#each allSelectedActionButtons as |button|}}
		{{#bs-button type=button.type icon=button.icon}}
			{{button.text}} {{allText}}
		{{/bs-button}}
	{{/each}}

	{{paper-divider}}
</div>

<table class="shopping-list-table table table-hover table-responsive">
	<thead>
	<tr id="table-headers">
		{{#if shortNames}}

		{{else}}
			<th width="10%">

				{{#paper-checkbox name="itemCheckbox" class = "purple shopping-list-checkbox" value=checkAllIsChecked
				                  onChange=(action (mut checkAllIsChecked))}}
				{{/paper-checkbox}}
			</th>

		{{/if}}



		{{#each colHeaderNames as |columnHead index|}}
			{{#if (eq index sortIndex)}}
				<th class="noselect th-sorted-on" {{action "sortBy" index}}>
					{{columnHead}} <i class={{sortIcon}}></i>
				</th>
			{{else}}
				<th class="noselect" {{action "sortBy" index}}>
					{{columnHead}} <i class="glyphicon glyphicon-menu-up glyphicon-none"></i>
				</th>
			{{/if}}

		{{/each}}


		{{#each tableRowActionHeaders as |header|}}

			<th width="5%">
				<h3>
					{{fa-icon header}}
				</h3>
			</th>

		{{/each}}

	</tr>
	</thead>

	<tbody>

	{{#each rowDataSortedLimited as |rowItem|}}

		{{#if checkAllIsChecked}}
			{{helpers/sortable-table/row
					rowItem = rowItem
					colPropertyNames = colPropertyNames
					tableRowActions = tableRowActions
					checkAll=true
					sendActionUp = "sendActionUp"
					itemChecked = "itemChecked"
			}}

		{{else}}

			{{helpers/sortable-table/row
					rowItem = rowItem
					colPropertyNames = colPropertyNames
					tableRowActions = tableRowActions
					checkAll=false
					sendActionUp = "sendActionUp"
					itemChecked = "itemChecked"
					noCheckBoxes = shortNames

			}}

		{{/if}}
	{{/each}}

	</tbody>

</table>
