<div class="container">
  <h1>You are {{session.currentUser.email}}</h1>
  <h1>You are {{model.id}}</h1>

  {{#if model.unconfirmedUsers}}
    <div>
      The following users wish to join your pantry.
      <ul class="list-group">
        {{#each model.unconfirmedUsers as |user|}}
          <li class="list-item-dash">
            <input type="checkbox" class="list-checkbox"> {{user.email}}
            <button class='btn btn-default' {{action 'addUserToPantry' user.email}}>
              {{fa-icon 'plus'}} Add user
            </button>
            <button class='btn btn-default' {{action 'denyUserFromPantry' user.email}}>
              {{fa-icon 'minus'}} Deny user
            </button>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}



  <form class="new-item-form" {{action 'sendPantryRequest' pantryEmail on="submit"}}>
    <div class="input-group">
      <div class="row">
        Enter the email of the pantry you wish to join.
        <div class="input-field inline">
          {{input type="email" class='form-control' id = "pantryRequest"  value=pantryEmail}}
          <label for="email">Email</label>

        </div>
      </div>
    </div>
  </form>


  <h3>The people in your pantry:</h3>
  {{#each model.users as |user|}}
    {{user.email}}
  {{/each}}

  <h3>The shopping items in your pantry:</h3>
  {{#each model.users as |user|}}
    <ul>
    {{#each user.shoppingList.shoppingListItems as |item|}}
      <li>{{item.name}}</li>
    {{/each}}
    </ul>
  {{/each}}

  </div>