<div class="layout-row layout-xs-column">
  <div class="layout-column flex-xs flex-gt-xs-100">
    {{#if model.unconfirmedUsers}}
      <div>
        The following users wish to join your pantry.
        <ul class="list-group">
          {{#each model.unconfirmedUsers as |user|}}
            <li class="list-item-dash">
              <input type="checkbox" class="list-checkbox"> {{user.email}}
              <button class='btn btn-default' {{action 'addUserToPantry' user.email}}>
                {{fa-icon 'plus'}} Add user
              </button>
              <button class='btn btn-default' {{action 'denyUserFromPantry' user.email}}>
                {{fa-icon 'minus'}} Deny user
              </button>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}


  </div>
</div>

<div class="layout-row layout-xs-column">
  <div class="layout-column flex-xs flex-gt-xs-100">
    {{outlet}}
  </div>
</div>



