{{#paper-card as |card|}}
	{{#paper-toolbar}}
		{{#paper-toolbar-tools}}
			<h2>Members of your pantry</h2>
		{{/paper-toolbar-tools}}
	{{/paper-toolbar}}
	{{paper-divider}}
	{{#card.content}}
		{{#paper-list}}
			{{paper-divider}}
			{{#each users as |user|}}
				{{#paper-item class="md-2-line"}}
					{{paper-icon "person outline" class="md-avatar-icon"}}
					<div class="md-list-item-text">
						<h3>{{user.fullName}}</h3>
						<p>{{user.email}}</p>
					</div>
				{{/paper-item}}
				{{paper-divider}}
			{{/each}}
		{{/paper-list}}
	{{/card.content}}
{{/paper-card}}


