{{#paper-card as |card|}}
	{{#card.title as |title|}}
		{{#title.text as |text|}}
			{{#text.headline}}{{user.firstName}} {{user.lastName}}{{/text.headline}}
		{{/title.text}}
	{{/card.title}}

	{{#card.content}}
		<div class="userTotalSpent">Spending on items: <span class="numberVal">{{user.spendingTotals}}</span></div>
		<div class="userTotalSpent">Payments to others: <span class="numberVal">{{user.paymentTotals}}</span></div>
		<div class="userTotalSpent">Total contributions to pantry: <span class="numberVal">{{user.contribTotals}}</span></div>
	{{/card.content}}

	{{#card.actions}}
		{{#paper-button}}View All Purchases{{/paper-button}}
		{{#paper-button}}View All Payments{{/paper-button}}
	{{/card.actions}}
{{/paper-card}}